env/
isr_python_env/
bert_embeddings.pkl
bert_model.pkl
bert_tokenizer.pkl
bm25.pkl
doc_ids.pkl
instance/beatbuddy.db
web/backend/preprocessing/optimized_audio_fingerprint_database.csv
web/frontend/src/Config.json
*.pyc
**/__pycache__/**
**/__pycache__/