.home-container {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-btn {
  color: #ffffff !important;
}

.main-title {
  font-weight: 700;
  color: #333333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.feature-card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  height: 100%;
}

.feature-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-title {
  display: flex;
  align-items: center;
  color: #333333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-title svg {
  margin-right: 10px;
}

/* Home.css */
.record-container {
  display: flex;
  justify-content: center; /* Aligns items on the horizontal line */
  align-items: center;     /* Aligns items on the vertical line */
  flex-direction: column;  /* Stacks items vertically */
  gap: 100rem;   
}

.btn {
  margin-right: 8px;
}

.text-center {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .feature-card {
    width: 100%; /* Adjust width for small screens */
    height: auto; /* Allow height to adjust based on content */
  }
  
  .record-container {
    position: static;
    transform: none;
    padding-top: 20px;
    text-align: center;
  }

  .btn {
    margin-bottom: 10px; /* More spacing on smaller screens */
  }
}

